@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "MINE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>KHÓA HỌC CỦA TÔI</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">@course.datetime.ToString("MM")</div>
                <div class="day">@course.datetime.ToString("dd")</div>
            </div>
            <div class="details">
                <span class="lecturer">@course.Lecture.Name</span>
                <br />
                <span class="category">@course.Category.Name</span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit","Courses", new {id = course.id})">Edit</a>
                <a href="#" class="js-cancel-course" data-course-id="@course.id">Cancel</a>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm({
                    title: "Cancel Course?",
                    message: "Are you sure to cancel?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/courses/" + link.attr("data-course-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                        }
                    }
                });
            });
        });
    </script>
}
