@using System.Linq
@model BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Khóa Học</h1>
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">@course.datetime.ToString("MM")</div>
                    <div class="day">@course.datetime.ToString("dd")</div>
                    <div class="year">@course.datetime.ToString("yyyy")</div>
                </div>
                <div class="details">
                    <span class="lecturer">@course.Lecture.Name</span>
                    @if (Model.ShowAction)
                    {
                        <button data-user-id="@course.LectureID" class="btn btn-default btn-sm js-toggle-follow">Follow</button>
                    }
                    <span class="category">@course.Category.Name</span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/Attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/Followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something Failed!");
                        })
                })
            });
        </script>
    }
</div>